<h2>profile page</h2>

username:{{user.username}} 
email:{{user.email}}
bio:{{user.bio}}
<form role="form" action="/profile" method="post" style="max-width: 300px;">
        <div class="form-group">
            <input type="email" name="email" placeholder="Enter Email" class="form-control">
        </div>
         <div class="form-group">
            <input type="text" name="bio" placeholder="Enter Bio" class="form-control">
        </div>
      
        <button type="submit" class="btn btn-default">Submit</button>&nbsp;
        <a href="/">
            <button type="button" class="btn btn-primary">Cancel</button>
        </a>
    </form>
<i>Inst: get user input and save into accounts model. retreave from accounts model and show on page. Example being able add and modify email.</i> 